<%= simple_form_for([@event, guest]) do |f| %>
  <% if guest.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(guest.errors.count, "error") %> prohibited this guest from being saved:</h2>

      <ul>
        <% guest.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-3">
    <%= f.label :first_name, class: 'form-label' %>
    <%= f.input :first_name, class: 'form-control', label: false %>
  </div>

  <div class="mb-3">
    <%= f.label :last_name, class: 'form-label' %>
    <%= f.input :last_name, class: 'form-control', label: false %>
  </div>

  <div class="mb-3">
    <%= f.label :relationship, class: 'form-label' %>
    <%= f.input :relationship, class: 'form-control', label: false %>
  </div>

  <div class="mb-3">
    <%= f.label :email, class: 'form-label' %>
    <%= f.input :email, class: 'form-control', label: false %>
  </div>

  <div class="mb-3">
    <%= f.label :status, class: 'form-label' %>
    <%= f.input :status, class: 'form-control', label: false, collection: Guest.statuses, selected: 0 %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
