<div data-controller="edit-guest">
  <div class="<%= 'd-none' if guest.errors.any? %> row" data-edit-guest-target="infos">
    <div class="col"><%= guest.name %></div>
    <div class="col"><%= guest.relationship %></div>
    <div class="col"><%= guest.email %></div>
    <div class="col"><%= guest.status %></div>
    <% if action_name != "show" %>
      <div class="col">
        <button aria-label="Edit guest" data-action='click->edit-guest#displayForm'>Edit</button>
        <%= link_to "Delete", event_guest_path(event_id: guest.event_id, id: guest.id), "data-turbo-method": "delete", "data-turbo-confirm": "Are you sure you want to remove #{guest.name} from the guest list?" %>
        <% if @event.e_vite.present? %>
        <button class="btn"><%= link_to 'Send e-vite', send_one_evite_path(event_id: guest.event_id, id: guest.id)%></button>
        <% end %>
      </div>
    <% end %>
  </div>

    <%= simple_form_for([@event, guest],
                        html: {
                          class: guest.errors.any? ? "" : "d-none",
                          data: { edit_guest_target: 'form', action: "submit->edit-guest#update" }
                        }) do |f| %>
      <div class="row">
        <div class="col">
          <%= f.input :name, class: "form-control rounded td", label: false %>
        </div>
        <div class="col">
          <%= f.input :relationship, class: "form-control rounded", label: false %>
        </div>
        <div class="col">
          <%= f.input :email, class: "form-control rounded", label: false %>
        </div>
        <div class="col">
          <%= f.input :status, class: "form-control rounded", label: false, collection: Guest.statuses.keys %>
        </div>
        <div class="col">
          <%= f.submit class: "btn btn-primary", label: false %>
        </div>
      </div>
    <% end %>
</div>
