<div data-controller="edit-guest" class="each-guest-container">
  <div class="<%= 'd-none' if guest.errors.any? %> row" data-edit-guest-target="infos">
    <div class="col each-guest"><p><%= guest.name %></p></div>
    <div class="col each-guest"><p><%= guest.email %></p></div>
    <div class="col each-guest sent"><p><%= guest.status %></p></div>
    <% if action_name != "show" %>
    <div class="col d-flex justify-content-center align-items-center guest-icons-container">
      <div class="guest-icons-wrapper">
        <div class="dots">
          <i href="" class="fa-solid fa-ellipsis"></i>
        </div>
        <div class="guest-icons">
          <a><i class="fa-regular fa-pen-to-square" aria-label="Edit guest" data-action='click->edit-guest#displayForm'></i></a>
          <%= link_to event_guest_path(event_id: guest.event_id, id: guest.id), "data-turbo-method": "delete", "data-turbo-confirm": "Are you sure you want to remove #{guest.name} from the guest list?", "class": "delete-icon" do %><i class="fa-solid fa-trash"></i><% end %>
          <%= link_to send_one_evite_path(event_id: guest.event_id, id: guest.id), "class": "send-icon" do %><i class="fa-regular fa-envelope"></i><% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>

    <%= simple_form_for([@event, guest],
                        html: {
                          class: guest.errors.any? ? "" : "d-none",
                          data: { edit_guest_target: "form", action: "submit->edit-guest#update" }
                        }) do |f| %>
      <div class="row">
        <div class="col">
          <%= f.input :name, label: false, input_html: { class: 'edit-guest' } %>
        </div>
        <div class="col">
          <%= f.input :relationship, collection: ["My Family", "Partner's Family", "My Friend", "Partner's Friend"], label: false, input_html: { class: 'edit-guest' } %>
        </div>
        <div class="col">
          <%= f.input :email, label: false, input_html: { class: 'edit-guest' } %>
        </div>
        <div class="col">
          <%= f.input :status, label: false, collection: Guest.statuses.keys, input_html: { class: 'edit-guest col' } %>
        </div>
        <div class="col">
          <%= f.submit 'Update', class: "btn btn-4u-black", label: false %>
        </div>
      </div>
    <% end %>
</div>
