<%= simple_form_for([event, guest], id: dom_id(guest, "form")) do |f| %>
  <td>
    <%= f.input :first_name, class: "form-control rounded", label: false %>
    <%= inline_error_for(:first_name, guest) %>
  </td>
  <td>
    <%= f.input :last_name, class: "form-control rounded", label: false %>
    <%= inline_error_for(:last_name, guest) %>
  </td>
  <td>
    <%= f.input :relationship, class: "form-control rounded", label: false %>
    <%= inline_error_for(:relationship, guest) %>
  </td>
  <td>
    <%= f.input :email, class: "form-control rounded", label: false %>
    <%= inline_error_for(:email, guest) %>
  </td>
  <td>
    <%= f.submit class: "btn btn-primary", label: false %>
  </td>
<% end %>
