<%= simple_form_for([event, guest]) do |f| %>
  <div class="row">
  <div class="col">
    <%= f.input :name, class: "form-control rounded col", label: false, placeholder: 'Name' %>
    <%= inline_error_for(:name, guest) %>
  </div>
  <div class="col">
    <%= f.input :relationship, class: "form-control rounded col", label: false, placeholder: 'Relationship' %>
    <%= inline_error_for(:relationship, guest) %>
  </div>
  <div class="col">
    <%= f.input :email, class: "form-control rounded col", label: false, placeholder: 'Email' %>
    <%= inline_error_for(:email, guest) %>
  </div>
  <div class="col">
    <%= f.input :status, class: "form-control rounded col", label: false, collection: Guest.statuses.keys, selected: 0 %>
    <%= inline_error_for(:email, guest) %>
  </div>
  <div class="col">
    <%= f.submit class: "btn btn-primary col", label: false %>
  </div>
  </div>
<% end %>
