<%= simple_form_for([event, guest]) do |f| %>
  <div class="new-guest">
      <%= f.input :name, class: "form-control new-guest-input col", label: false, placeholder: 'Name' %>
      <%= inline_error_for(:name, guest) %>
      <%= f.input :relationship, class: "form-control new-guest-input col", label: false, placeholder: 'Relationship' %>
      <%= inline_error_for(:relationship, guest) %>
      <%= f.input :email, class: "form-control new-guest-input col", label: false, placeholder: 'Email' %>
      <%= inline_error_for(:email, guest) %>
    <%# <div class="col"> %>
      <%#= f.input :status, class: "form-control rounded col", label: false, collection: Guest.statuses.keys, selected: 0 %>
      <%#= inline_error_for(:email, guest) %>
    <%# </div> %>
      <%= f.submit '+', class: "btn btn-4u-black col", label: false %>
  </div>
<% end %>
