<body id="guest">
<div class="guest-container">
  <div class="d-flex flex-column justify-content-center">
    <div class="searchbar-container">
      <%= render 'upload', guest: @guest %>

      <%= render "new", event: @event, guest: Guest.new %>

      <%= form_with url: event_guests_path, method: :get, class: "d-flex rounded" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control guest-search",
          placeholder: "Search guest"
        %>
        <%= submit_tag "Search", class: "btn btn-primary d-none" %>
      <% end %>


      <div class="dropdown">
        <i class="fa-sharp fa-solid fa-gear" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></i>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo" href="#">Import Spreadsheet</a></li>
          <li><%= link_to "Send to everyone", send_all_evite_path(@event), class: "dropdown-item" %></li>
        </ul>
      </div>
    </div>




    <div class="row guestlist-container">
      <div class="guest-group">
        <h2 class="group"><%= current_user.first_name %>'s Family</h2>
        <% @guests.where(relationship: "My Family").each do |guest| %>
          <%= render "guest", guest: guest %>
        <% end %>
      </div>

      <div class="guest-group">
        <h2 class="group"><%= @event.partner_first_name %>'s Family</h2>
        <% @guests.where(relationship: "Partner's Family").each do |guest| %>
          <%= render "guest", guest: guest %>
        <% end %>
      </div>

      <div class="guest-group">
        <h2 class="group"><%= current_user.first_name %>'s Friends</h2>
        <% @guests.where(relationship: "My Friend").each do |guest| %>
          <%= render "guest", guest: guest %>
        <% end %>
      </div>

      <div class="guest-group">
        <h2 class="group"><%= @event.partner_first_name %>'s Friends</h2>
        <% @guests.where(relationship: "Partner's Friend").each do |guest| %>
          <%= render "guest", guest: guest %>
        <% end %>
      </div>


    </div>
  </div>
</div>
</body>
