<div class="container text-center my-3">
  <div>
    <%= form_with url: event_guests_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Search guest"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>

    <div class="m-4"><%= link_to 'Send e-vite', send_evite_path(@event), class: "index-link" %></div>

    <%= render 'form', guest: @guest %>


    <div class="mb-3"><%= render "new", event: @event, guest: Guest.new %></div>

    <div class="row">
      <div class="col border-bottom mb-3"><strong>Name</strong></div>
      <div class="col border-bottom mb-3"><strong>Relationship</strong></div>
      <div class="col border-bottom mb-3"><strong>Email</strong></div>
      <div class="col border-bottom mb-3"><strong>RSVP Status</strong></div>
      <div class="col border-bottom mb-3"></div>

      <% @guests.each do |guest| %>
      <%= render "guest", guest: guest %>
      <% end %>
    </div>
  </div>
</div>
