<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <% if user_signed_in? %>
      <%= link_to events_path, class: "navbar-brand" do %>
        <%= image_tag "plan_for_you_logo.png", width: 250, height: 50 %>
      <% end %>
    <% else %>
      <%= link_to '/', class: "navbar-brand" do %>
        <%= image_tag "plan_for_you_logo.png", width: 250, height: 50 %>
      <% end %>
    <% end %>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
        <% if current_user.events.any? %>
          <li class="nav-item active">
            <%= link_to image_tag("guest_list_logo.png", :border=>0, width: 62, height: 82), event_guests_path(current_user.events.first), class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <% if current_user.events.first.guest_tables.any? %>
              <%= link_to image_tag("seating_chart_logo.png", :border=>0, width: 75, height: 82), event_guest_table_path(current_user.events.first, current_user.events.first.guest_tables.first), class: "nav-link" %>
            <% else %>
              <%= link_to image_tag("seating_chart_logo.png", :border=>0, width: 75, height: 82), new_event_guest_table_path(current_user.events.first), class: "nav-link" %>
            <% end %>
          </li>
          <li class="nav-item active">
            <%= link_to image_tag("invitation_cards_logo.png", :border=>0, width: 85, height: 82), new_event_e_vite_path(current_user.events.first), class: "nav-link" %>
          </li>
        <% end %>
          <li id="dropdown" class="nav-item dropdown">
            <%= image_tag "navmenu.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My Event", events_path, class: "dropdown-item" %>
              <%#= link_to "RSVP", guest_choices_index_path, class: "dropdown-item" %>
              <%= link_to "Account Settings", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
