<div class="navbar navbar-expand-sm navbar-light navbar-lewagon p-0">
  <div class="container-fluid d-flex flex-column">
    <% if user_signed_in? %>
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "plan_for_you_logo.png" %>
      <% end %>
    <% else %>
      <%= link_to '/', class: "navbar-brand" do %>
        <%= image_tag "plan_for_you_logo.png" %>
      <% end %>
    <% end %>

    <nav class="collapse navbar-collapse stroke" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <% if current_user.events.any? %>
            <li class="nav-item active">
              <%= link_to "My Event", events_path, class: "nav-link" %>
            </li>
            <li class="nav-item active">
              <%= link_to "Guest List", event_guests_path(current_user.events.first), class: "nav-link" %>
            </li>
            <li class="nav-item active">
              <%= link_to "Invitation Card", new_event_e_vite_path(current_user.events.first), class: "nav-link" %>
            </li>
            <li class="nav-item active">
              <% if current_user.events.first.guest_tables.any? %>
                <%= link_to "Seating Chart", event_guest_table_path(current_user.events.first, current_user.events.first.guest_tables.first), class: "nav-link" %>
              <% else %>
                <%= link_to "Seating Chart", new_event_guest_table_path(current_user.events.first), class: "nav-link" %>
              <% end %>
            </li>
          <% end %>
      </ul>
          <div class="nav-item login">
            <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
          </div>
        <% else %>
          <div class="nav-item login">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </div>
        <% end %>
    </nav>
  </div>
</div>
