<body id="guest">
  <div class="rsvp-container mt-3">
    <h1 class="text-center"><%= @event.user.first_name %> & <%= @event.partner_name %>'s <%= @event.name %></h1>
    <p class="text-center">If you’re responding for you and a guest (or your family),
        you’ll be able to RSVP for your entire group. </p>
    <div class="form_select_name">
      <%= form_with url: find_rsvp_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find your invitation card"
        %>
        <%= submit_tag "Search", class: "btn btn-4u d-none" %>
      <% end %>
    </div>

    <% if @guests.present? %>
      <% @guests.each do |guest|%>
        <%= link_to guest.name, new_guest_guest_choice_path(guest), class: "btn btn-4u" %>
      <% end %>
    <% end %>
  </div>
</body>
