<body id="guest">
  <div class="container d-flex justify-content-center mt-5" style="height: 400px;">
    <div class="row align-self-center flex-column mb-3">
      <h2><%= @event.name %> Day</h2>
      <p class="mb-5"><%= @event.date.strftime("%B %e, %Y") %></p>
      <div class="d-flex justify-content-center">
        <p class="me-5"><%= @guest.name %></p>
        <%= link_to "Attending", attendance_path(@guest, 2), data: { 'turbo-method': :patch }, class: "btn btn-4u-green" %>
        <%= link_to "Decline", attendance_path(@guest, 3), data: { 'turbo-method': :patch }, class: "btn btn-4u-red" %>
      </div>
    </div>
  </div>
</body>
