<div class="home-page-container">
  <div class="row d-flex align-items-stretch">
    <div class="col-5 d-flex align-items-stretch">
      <div class="col-12 m-3 ps-4 d-flex flex-column">
        <%= image_tag "plan_for_you_logo.png", class: "", width: 200 %>
        <div class="landing-page-text flex-fill d-flex flex-column justify-content-center align-items-start">
          <% if user_signed_in? %>
            <% if current_user.events.any? %>
              <h2>Welcome, <%= current_user.first_name %> <br>
              <%= current_user.last_name %>!</h2>
              <%= link_to "My Event", events_path, class: "btn btn-4u-black" %>
            <% else %>
              <h2><strong>Automated, Stress-Free<br>
              Seating Chart Generator</strong></h2>
              <p>Plan For You will automatically create a seating chart for your event based on your guests' preferences.</p>
              <%= link_to "Create an Event", new_event_path, "data-controller": "turbo", class: "btn btn-4u-black" %>
            <% end %>
          <% else %>
            <h2><strong>Automated, Stress-Free<br>
            Seating Chart Generator</strong></h2>
            <p>Plan For You will automatically create a seating chart for your event based on your guests' preferences. We also offer easy-to-use planning tools for your event such as guest list management, simple online RSVP and so much more!</p>
            <%= link_to "Get Started", new_user_registration_path, class: "btn btn-4u-black" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-7">
      <%= image_tag "landing_page.png", class: 'landing-page' %>
    </div>
  </div>
</div>
