<div class="show-page-container" data-controller="select-table">
  <div class="row">
    <div class="col-sm-3 flex-column justify-content-center">
      <div class="sm-card justify-content-center p-3">
        <p>Number of Confirmed Guests: <%= @table.tables.flatten.count %></p>
      </div>
      <div class="table-circle-container d-flex flex-wrap">
        <% @table.tables.each_with_index do |table, index| %>
          <div data-action='click->select-table#displayTable' id="<%= index + 1 %>" class="rounded-circle bg-white table-circle"><%= index+1 %></div>
        <% end %>
      </div>
    </div>
    <div class="col-sm-9 bg-white right-container">
      <div id="big-circle" class="circle big">
        <% @table.tables.each_with_index do |table, index| %>
          <div data-select-table-target='table' class="d-none">
            <% table.each_with_index do |guest, index| %>
              <div class="circle circle_<%= index %>"><%= guest %></div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
