<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
     <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <h1>Hi <%=@guest.name%>,</h1>
    <p>You have received a card from <%= @user.first_name %> & <%= @event.partner_name %></p>
    <p>
      <%= link_to "View the card", @url %>.
    </p>
    <%= link_to href: 'https://plan4you.herokuapp.com/' do %>
      <%= image_tag attachments['plan_for_you_logo.png'].url, alt: 'Pan for you', class: 'photos'%>
    <% end %>
  </body>
</html>
