<body id="guest">
  <div class="e-vite-top-container" data-controller="select-evite">
    <div class="row e-vite-row">
      <div class="d-flex flex-column col-3" id="column_template">
        <div data-action='click->select-evite#displayEvite'><%= image_tag "e_vite_1.png", id: "e_vite_1"%></div>
        <div data-action='click->select-evite#displayEvite'><%= image_tag "e_vite_2.png", id: "e_vite_2"%></div>
        <div data-action='click->select-evite#displayEvite'><%= image_tag "e_vite_3.png", id: "e_vite_3"%></div>
      </div>
      <div class="row col-9 align-items-center flex-column mt-4">
        <div id="selected_evite_1" data-select-evite-target='evite' style="background:none;"><%= render "evite_template_1"%></div>
        <div id="selected_evite_2" data-select-evite-target='evite' style="background:none;"><%= render "evite_template_2"%></div>
        <div id="selected_evite_3" data-select-evite-target='evite' style="background:none;"><%= render "evite_template_3"%></div>
        <div class="d-flex justify-content-center btn-container">
          <%= form_with model: @e_vite, url: create_e_vite_path(@event), data: { behavior: "autosave" }, method: :post do |form| %>
            <%= form.text_field :template_id, class:'d-none', id:'input_choise'%>
            <%= form.submit value: 'Save', class: "btn btn-4u" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</body>
